@media(max-width: 1440px) {

	img {
		margin-top: 30px;
		margin-left: 30px;
		width: 500px;
		height: auto;
	}

	.container-fluid img + div {
		width: 500px;
		margin-left: 30px;
		display: inline-block;
		font-size: 18px;
		position: relative;
		top: 150px;
	}
} 

@media(max-width: 1024px) {
	img {
		margin-top: 30px;
		margin-left: 10px;
		width:350px;
		height: auto;
	}

	.container-fluid img + div {
		width: 580px;
		margin-left: 10px;
		display: inline-block;
		font-size: 18px;
		position: relative;
		top: 105px;
	}
}

@media (max-width: 768px) {
	img {
		margin-top: 0px;
		margin-left: 0px;
		width: 300px;
		height: auto;
	}

	.container-fluid img + div {
		width: 380px;
		margin-left: 20px;
		display: inline-block;
		font-size: 12px;
		position: relative;
		top: 0px;
	}
}

img {
	margin-top: 30px;
	margin-left: 30px;
}

img + div {
	width: 800px;
	margin-left: 30px;
	display: inline-block;
	font-size: 25px;
	position: relative;
	top: 150px;
}